.list-item {
  list-style-type: none;
  cursor: pointer;
}

.list-item__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.list-item__image {
  width: 100%;
  height: auto;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.list-item__title {
  font-size: 0.9em;
}

.list-item__description {
  color: lightslategray;
  font-size: 0.9rem;
}

.list-item__description-main {
  font-weight: 600;
}
