body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #eee;
}
body::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 20px;
  border: 3px solid #eee;
}
